.login-container {
  background: linear-gradient(135deg, var(--gradient-from) 0%, var(--gradient-to) 100%); /* Viene de la configuración */
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
}

.login-logo {
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  font-size: 2.5rem;
}

.btn-primary {
  background: linear-gradient(135deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  /* background: linear-gradient(135deg, #66a4ea 0%, #764ba2 100%); */
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-primary:hover:not(:disabled) {
  background: linear-gradient(135deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  /* background: linear-gradient(135deg, #66a4ea 0%, #764ba2 100%); */
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);
}

.form-control:focus {
  border-color: #3a8df8;
  box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}


/* Ajuste de logo mas pequeño en disp. móviles */
@media (max-width: 576px) {
  .login-logo {
    width: 60px;
    height: 60px;
    font-size: 2rem;
  }
}